{% extends 'base.html.twig' %}

{% block title %}Titre des articles enregistré
{% endblock %}

{% block content %}

{{form_start(form)}}
{{form_end(form)}}

{% if articles is empty %}
	<p>Reviens plus tard, il n'y a rien.</p>
{% else %}
<div class="row row-cols-1 row-cols-md-2">
	{% for article in articles %}
		<div class="articles_style col mb-3">
			<p>
 				<img class="card-img-top img-fluid"
 				     src="{{ asset(vich_uploader_asset(article, 'imageFile')) }}"
 				     alt="Card image cap {{article.image}}"
 				/>
			</p>
			<div class="card-body">
    			<h5 class="card-title">{{ article.titre}}</h5>
    			<p class="card-text">{{ article.contenu|slice(1,100)}}</p>
				<p class="card-text">Le {{ article.date|date("d/m/y")}}</p>
    			<p><a href="{{ path('showArticle',{ article : article.id } ) }}" class="btn btn-primary">
				Voir l'article</a></p>
			    {% if is_granted('ROLE_USER') %}
				  	<p><a href="{{ path('update',{ article : article.id } ) }}">
				Modifier</a></p>
			    {% endif %}
  			</div>
		</div>
	{% endfor %}
{% endif %}
{% endblock %}
